<div class="weather-forecast-modal">
  <span (click)="closeDialog()">&times;</span>
  <h2>
    {{ data?.forecast?.location?.name }} -
    {{ data?.forecast?.location?.country }}
  </h2>
  <div class="forecast-deg">
    <div>
      <p>{{ data?.forecast?.current?.temp_c }}&deg;</p>
    </div>
    <div>
      <img src="{{ data?.forecast?.current?.condition?.icon }}" alt="" />
    </div>
  </div>
  <div class="location-info">
    <div>Barometer {{ data?.forecast?.current?.pressure_mb }}mb</div>
    <div>Feels like {{ data?.forecast?.current?.feelslike_c }}&deg;C</div>
    <div>Humidity {{ data?.forecast?.current?.humidity }}%</div>
  </div>

  <div class="forecast-day">
    <div class="days" *ngFor="let hours of forecastDayHours">
      <p>{{ hours.time | date: "hh:mm" }}</p>
      <img src="{{ hours?.condition?.icon }}" alt="" />
    </div>
  </div>
</div>
