$primary-color: #282A2A;
$secondary-color: #007eff;
$smoke-color: #C5CCCA;
$label-color: #9d9eb9;
$border-color: #f7f7f7;
$dark-color: $primary-color;
$notification-color: #fd397a;
$warning-color: #ffb822;
$success-color: #0abb87;
$info-color: #9c15eb;

$primary-box-shadow: rgba(38, 57, 77, .65) -1px 9px 30px -10px;
